{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <form method="post" action="{% url 'login' %}" class="modern-form">
        {% csrf_token %}
        <div class="form-title">Log in</div>

        <div class="form-body">
            <div class="input-group">
                <div class="input-wrapper">
                    <svg fill="none" viewBox="0 0 24 24" class="input-icon">
                        <circle stroke-width="1.5" stroke="currentColor" r="4" cy="8" cx="12"></circle>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="currentColor" d="M5 20C5 17.2386 8.13401 15 12 15C15.866 15 19 17.2386 19 20"></path>
                    </svg>
                    <input
                        name="username"
                        required=""
                        placeholder="Username/Email"
                        class="form-input"
                        type="text"
                        value="{{ form.username.value|default:'' }}"
                    />
                </div>
            </div>

            <div class="input-group">
                <div class="input-wrapper">
                    <svg fill="none" viewBox="0 0 24 24" class="input-icon">
                        <path stroke-width="1.5" stroke="currentColor" d="M12 10V14M8 6H16C17.1046 6 18 6.89543 18 8V16C18 17.1046 17.1046 18 16 18H8C6.89543 18 6 17.1046 6 16V8C6 6.89543 6.89543 6 8 6Z"></path>
                    </svg>
                    <input
                        name="password"
                        required=""
                        placeholder="Password"
                        class="form-input"
                        type="password"
                    />
                </div>
            </div>
        </div>

        {% if form.non_field_errors %}
        <div class="error-messages">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <button class="submit-button" type="submit">
            <span class="button-text">Login</span>
        </button>
        
        <div class="form-footer">
            <a class="login-link" href="{% url 'register' %}">
                Don't have an account? <span>Sign up</span>
            </a>
        </div>
    </form>

    <footer>
        © 2024 SOFTUNI PROJECT FOR PYTHON WEB MODULE
    </footer>
</body>
</html>
