{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="form">
            <h1 class="title">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="submit">Login</button>
            </form>
            <p class="signin">Don't have an account? <a href="{% url 'register' %}">Sign up here</a>.</p>
        </div>
    </div>
    <footer>
        © 2024 SOFTUNI PROJECT FOR PYTHON WEB MODULE
    </footer>
</body>
</html>
