{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiftHub</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href={% static 'css/register.css' %}>
</head>


<div class="container">
    <form method="post" class="form">
            {% csrf_token %}
            <p class="title">Register</p>

            <!-- Render Django form fields -->
            {{ form.as_p }}

            <button type="submit" class="submit">Submit</button>
            <p class="signin">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>

    <footer>
        <p>© 2024 SOFTUNI PROJECT FOR PYTHON WEB MODULE</p>
    </footer>
</div>