{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiftHub</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href={% static 'css/register.css' %}>
</head>


<div class="container">
    <form class="form">
        <p class="title">Register </p>

        <div class="flex">
            <label>
                <input class="input" type="text" placeholder="" required="">
                <span>Username</span>
            </label>
        </div>

        <label>
            <input class="input" type="email" placeholder="" required="">
            <span>Email</span>
        </label>

        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Password</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Confirm password</span>
        </label>
        <button class="submit">Submit</button>
        <p class="signin">Already have an account ? <a href={% url 'login' %}>Login</a></p>
    </form>

    <footer>
        <p>© 2024 SOFTUNI PROJECT FOR PYTHON WEB MODULE</p>
    </footer>
</div>