body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #40513B;
    background-color: #EDF1D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #9DC08B;
    font-size: 0.9em;
    background-color: #EDF1D6;
    margin-top: auto;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #EDF1D6;
    font-size: 1em;
    font-weight: bold;
    background-color: #609966;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #40513B;
}

