body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #40513B; /* Darkest color for text */
    background-color: #EDF1D6; /* Brightest color for background */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #9DC08B; /* Bright green text color for footer */
    font-size: 0.9em;
}

