.meals-home, .workouts-home {
    font-family: Arial, sans-serif;
    color: #40513B;
    background-color: #EDF1D6;
    padding-top: 20px;
}

.meals-home h3, .workouts-home h3 {
    color: #609966;
    border-bottom: 2px solid #9DC08B;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.meals-home ul, .workouts-home ul {
    list-style-type: none;
    padding: 0;
}

.meals-home ul li, .workouts-home ul li {
    background-color: #9DC08B;
    color: #EDF1D6;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
    text-align: center;
    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meals-home .meal-link, .workouts-home .workout-link {
    color: #EDF1D6;
    font-weight: bold;
    text-decoration: none;
}

.meals-home .meal-link:hover, .workouts-home .workout-link:hover {
    text-decoration: underline;
}

.meals-home .actions, .workouts-home .actions {
    margin-top: 20px;
    text-align: center;
    background-color: #EDF1D6
}

.meals-home .actions .btn, .workouts-home .actions .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #609966;
    color: #EDF1D6;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
}

.meals-home .actions .btn:hover, .workouts-home .actions .btn:hover {
    background-color: #40513B;
}

.meals-home .actions .link, .workouts-home .actions .link {
    color: #609966;
    font-weight: bold;
    text-decoration: underline;
}

.meals-home .actions .link:hover, .workouts-home .actions .link:hover {
    color: #40513B;
}

.meals-home .my-meals, .workouts-home .my-workouts,
.meals-home .base-meals, .workouts-home .base-workouts {
    margin: 30px auto;
    padding: 15px;
    background-color: #9DC08B;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 32ch;
    height: calc(5 * 40px + 30px);
    text-align: center;
}
