/* Profile page styling */
.profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.profile-detail {
    background-color: #EDF1D6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 10px;
}

.field-label {
    font-weight: bold;
    color: #333;
}

.actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #609966;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #40513B;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}
