.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    width: 90%;
    padding: 30px;
    border-radius: 15px;
    background-color: #9DC08B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #40513B;
    border: 1px solid #609966;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #40513B;
}

.form label {
    position: relative;
}

.input {
    background-color: #EDF1D6;
    color: #40513B;
    width: 100%;
    padding: 15px;
    border: 1px solid #9DC08B;
    border-radius: 10px;
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
}

.input:focus {
    border-color: #609966;
    box-shadow: 0 0 5px rgba(96, 153, 102, 0.5);
}

.form label span {
    color: #40513B;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.input:placeholder-shown + span {
    top: 22px;
    font-size: 0.9em;
}

.input:focus + span,
.input:not(:placeholder-shown) + span {
    color: #609966;
    top: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.submit {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #EDF1D6;
    font-size: 1em;
    font-weight: bold;
    background-color: #609966;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #40513B;
}

.signin {
    text-align: center;
    font-size: 0.9em;
    color: #40513B;
}

.signin a {
    color: #609966;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signin a:hover {
    color: #40513B;
}


