{% extends 'common/base.html' %}

{% block content %}
    
    <h3>Meal Details</h3>

    <div class="details">
        <p><span class="field-label">Name:</span> {{ meal.name }}</p>
        <p><span class="field-label">Description:</span> {{ meal.description }}</p>
        <p><span class="field-label">Calories:</span> {{ meal.calories }}</p>
        <p><span class="field-label">Protein:</span> {{ meal.protein }}g</p>
        <p><span class="field-label">Fat:</span> {{ meal.fat }}g</p>
        <p><span class="field-label">Carbs:</span> {{ meal.carbs }}g</p>
    </div>

    <div class="actions">
        {% if not meal.is_base or meal.is_base and perms.meals.edit_base_meals %}
        <a href="{% url 'meal-edit' meal.id %}" class="btn">Edit Meal</a>
        <a class="btn" href="{% url 'meal-delete' meal.pk %}">Delete</a>
        {% endif %}
        <a href="{% url 'meals-home' %}" class="btn">Back to Meals</a>
        
    </div>
    
{% endblock %}