{% extends 'common/base.html' %}

{% block content %}

    <div class="post-details-buttons-container">
    <a class='btn' href={% url 'profile' inspected_user.profile.slug %}>Back</a>
    </div>
    
    {% for post in post_history %}

        {% include 'forum/post-card.html' %}

    {% empty %}
        <p style="text-align: center; margin-top: 3rem;">
        {% if inspected_user == user %}
            You haven't made any posts yet!
        {% else %}
            {{ inspected_user.username }} hasn't made any posts yet!
        {% endif %}
        </p>
    {% endfor %}

{% endblock %}