{% extends 'common/base.html' %}

{% block content %}
    
    <div class="add-comment">
        <form method="post" action="" class="">
            {% csrf_token %}
            <div class="comment-input-group">
                {{ form.content }}
                <button class="btn" style="margin-bottom: 2rem" type="submit">Confirm</button>
                <a class="btn" style="margin-bottom: 2rem" href={% url 'forum-home' %}>Cancel</a>
            </div>
        </form>
    </div>
    
{% endblock %}