{% load custom_filters %}

<div class="postcard-container">
    <div class="postcard-card">
        <div class="postcard-header">
            <div class="postcard-profile">
                <div class="postcard-avatar"
                     style="background-image: url('{{ post.user.profile.picture.url }}');"></div>
                <div class="postcard-name">
                    <a href="{% url 'profile' post.user.profile.slug %}">
                        {{ post.user.profile.get_full_name }}
                    </a>
                </div>
            </div>
            <div class="postcard-time">{{ post.created_at|timesince }} ago</div>
            {#                    {{ post.created_at|date:"H:i, d.m.Y" }}#}
        </div>
        <div class="postcard-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="postcard-footer">
            <a href="{% url 'post-details' post.pk %}" class="postcard-comments">
                <svg xmlns="http://www.w3.org/2000/svg" class="postcard-icon" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                </svg>
                <span>{{ comments|get_comments_count:post }}</span>
            </a>
        </div>
    </div>
</div>