{% extends 'common/base.html' %}

{% block content %}

    <div class="post-details-buttons-container">
        <a class="btn" href={% url 'forum-home' %}>Back</a>
        {% if perms.posts.approve_posts and not post.is_approved %}
            <a class="btn" href="{% url 'post-approve' post.pk %}">Approve</a>
        {% endif %}
        {% if has_permission %}
            <a class="btn" href={% url 'post-edit' post.pk %}>Edit</a>
            <a class="delete-btn" href={% url 'post-delete' post.pk %}>Delete</a>
        {% endif %}

    </div>

    {% include 'forum/post-card.html' %}

    {% if post.is_approved %}

        <div class="add-comment">
            <form method="post" action="" class="add-comment-form">
                {% csrf_token %}
                <div class="comment-input-group">
                    {{ form.content }}
                    <button class="btn" style="margin-bottom: 1rem" type="submit">Comment</button>
                </div>
            </form>
        </div>

        <div class="comments">
            {% for comment in comments %}

                <div class="comment-card-container">
                    <div class="comment-card-card">
                        <div class="comment-card-header">
                            <div class="comment-card-profile">
                                <div class="comment-card-avatar"
                                     style="background-image: url('{{ comment.user.profile.picture.url }}');"></div>
                                <div class="comment-card-name">
                                    <a href="{% url 'profile' comment.user.profile.slug %}">
                                        {{ comment.user.profile.get_full_name }}
                                    </a>
                                </div>
                            </div>
                            <div class="postcard-time" title="{{ post.created_at|date:"H:i, d.m.Y" }}">
                                {{ comment.created_at|timesince }} ago
                            </div>
                        </div>
                        <div class="comment-card-content">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
                </div>
            {% empty %}
                <p style="text-align: center; margin-top: 3rem;">No comments yet. Be the first to comment!</p>
            {% endfor %}

    {% endif %}


{% endblock %}